@use '../generic/variables' as vars;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: arial, sans-serif;
  background-color: vars.$breadcrumb-bg-color;
  border-radius: 0.25rem;
  list-style-type: none;
  padding: 0;

  &-item {
    display: inline-flex;
    align-items: center;
    justify-self: center;
    padding: vars.$space 0 vars.$space vars.$space;

    svg {
      margin-inline-end: vars.$space;
      width: 13px;
      height: 13px;
    }

    a {
      text-decoration: none;
      color: vars.$breadcrumb-link-color;
      font-weight: 700;
      padding-inline-end: vars.$space;
    }

    &.active {
      color: vars.$breadcrumb-text-color-active;
      font-weight: vars.$breadcrumb-text-weight-active;
    }
  }
}
