@use '../generic/variables' as vars;

.main-menu {
  a {
    text-decoration: none;
    color: vars.$breadcrumb-link-color;
    font-weight: 700;

    &.active {
      color: vars.$breadcrumb-text-color-active;
      font-weight: vars.$breadcrumb-text-weight-active;
    }
  }
}
