//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

$breadcrumb-bg-color: #e9ecef;
$breadcrumb-link-color: #6c757d;
$breadcrumb-text-color-active: #1e95ff;
$breadcrumb-text-weight-active: 600;
$space: 10px;
